<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Street View side-by-side</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map, #pano {
        float: left;
        height: 100%;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="pano"></div>
    <script>

function initialize() {
  var fenway = {lat: 43.6146188286, lng: 3.86277516067};
  var map = new google.maps.Map(document.getElementById('map'), {
    center: fenway,
    zoom: 23,
    mapTypeId: 'hybrid'
  });
  map.setTilt(0);

var flightPlanCoordinates = [{lat: 43.6146257744, lng: 3.86274979062},{lat: 43.6146118829, lng: 3.86280053072}];
var flightPath = new google.maps.Polyline({path: flightPlanCoordinates, geodesic: true, strokeColor: '#0000ff', strokeOpacity: 1.0, strokeWeight: 2});
flightPath.setMap(map);


  var panorama = new google.maps.StreetViewPanorama(
      document.getElementById('pano'), {
        position: fenway,
        pov: {
          heading: 19.5351699528,
          pitch: 10
        }
      });
  map.setStreetView(panorama);

}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initialize">
    </script>
  </body>
</html>
